In [1]:
s1={}
print(type(s1))

<class 'dict'>

In [2]:
s1={1,2,3,"hello"}
print(type(s1))

<class 'set'>

In [3]:
s=set(range(5))
print(s)

{0, 1, 2, 3, 4}

In [5]:
s=set([47,'dfbjh',8.5])
print(s)

{8.5, 'dfbjh', 47}

In [6]:
s=eval(input("Enter the set:"))
print(s)

{1, 2, 3, 4}

In [8]:
#To read the set elements only for loop is used
S={"Mounika","Nandini","Sushma","Vakula","Anusha","sowmya"}
for name in S:
    print(name)

sowmya
Mounika
Sushma
Nandini
Vakula
Anusha

In [9]:
S={"Mounika","Nandini","Sushma","Vakula","Anusha","sowmya"}
S.add("Jyothi")
print(S)

{'Jyothi', 'sowmya', 'Mounika', 'Sushma', 'Nandini', 'Vakula', 'Anusha'}

In [1]:
S={"Mounika","Nandini","Sushma","Vakula","Anusha","sowmya"}
S.update({"Jyothi"})
print(S)

{'Nandini', 'Jyothi', 'Anusha', 'Vakula', 'Sushma', 'Mounika', 'sowmya'}

In [11]:
S={1,2,3,4,5}
S.add(6)
print(S)

{1, 2, 3, 4, 5, 6}

In [12]:
S={1,2,3,4,5}
S.update(6)
print(S)

TypeError: 'int' object is not iterable

In [2]:
S={1,2,3,4,5}
S.update([6,6]) #only a sequence elements can only add using update 
print(S)

{1, 2, 3, 4, 5, 6}

In [15]:
#cloning
S={1,2,3,4,5}
S1=S.copy()
print(S)
print(S1)
S.add(6)
print(S)
print(S1)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5}

In [16]:
#alias
S={1,2,3,4,5}
S1=S
print(S)
print(S1)
S.add(6)
print(S)
print(S1)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}

In [18]:
#DELETE 
S={"Mounika","Nandini","Sushma","Vakula","Anusha","sowmya"}
print(S.pop())
print(S)

sowmya
{'Mounika', 'Sushma', 'Nandini', 'Vakula', 'Anusha'}

In [19]:
S={"Mounika","Nandini","Sushma","Vakula","Anusha","sowmya"}
S.pop()
print(S)

{'Mounika', 'Sushma', 'Nandini', 'Vakula', 'Anusha'}

In [22]:
S={"Mounika","Nandini","Sushma","Vakula","Anusha","Sowmya"}
S.discard("Sowmya")
print(S)

{'Mounika', 'Sushma', 'Nandini', 'Vakula', 'Anusha'}

In [23]:
S={"Mounika","Nandini","Sushma","Vakula","Anusha","Sowmya"}
S.discard("sowmya") #wrong element is given
print(S) #prints the same

{'Mounika', 'Sushma', 'Nandini', 'Sowmya', 'Vakula', 'Anusha'}

In [24]:
S={"Mounika","Nandini","Sushma","Vakula","Anusha","Sowmya"}
S.remove("sowmya") #wrong element is given
print(S) #gives error

KeyError: 'sowmya'

In [25]:
S={"Mounika","Nandini","Sushma","Vakula","Anusha","Sowmya"}
S.discard("Sowmya") 
print(S) #remove and discard are same except that it gives errror if there is no given element in the given list

{'Mounika', 'Sushma', 'Nandini', 'Vakula', 'Anusha'}

In [26]:
S={"Mounika","Nandini","Sushma","Vakula","Anusha","Sowmya"}
S.clear()
print(S)

set()

In [27]:
#union |
s1={1,2,3,4}
s2={3,4,5,6}
s1.union(s2) #prints the all elements in both sets and removes dupilicates

{1, 2, 3, 4, 5, 6}

In [28]:
s1={1,2,3,4}
s2={3,4,5,6}
s1 | s2

{1, 2, 3, 4, 5, 6}

In [29]:
#intersection &
s1={1,2,3,4}
s2={3,4,5,6}
s1.intersection(s2) #prints the commmon elements

{3, 4}

In [30]:
s1={1,2,3,4}
s2={3,4,5,6}
s1 & s2

{3, 4}

In [4]:
#Difference -
s1={1,2,3,4}
s2={3,4,5,6}
print(s1-s2) #prints the first set except the common elements from second set

{1, 2}

In [3]:
s1={1,2,3,4}
s2={3,4,5,6}
s1-s2

{1, 2}

In [34]:
s1={1,2,3,4}
s2={3,4,5,6}
s2-s1

{5, 6}

In [36]:
s1={1,2,3,4}
s2={3,4,5,6}
s1.difference(s2)

{1, 2}

In [37]:
s1={1,2,3,4}
s2={3,4,5,6}
s2.difference(s1)

{5, 6}

In [41]:
#symmetric difference ^
s1={1,2,3,4}
s2={3,4,5,6}
s1.symmetric_difference(s2) #prints the both sets except the common elements

{1, 2, 5, 6}

In [42]:
s1={1,2,3,4}
s2={3,4,5,6}
s1 ^ s2

{1, 2, 5, 6}

In [43]:
s1={1,2,3,4}
s2={3,4,5,6}
s2 ^ s1

{1, 2, 5, 6}

In [47]:
#subset
s1={1,2,3,4}
s2={3,4,5,6}
s1.issubset(s2) #second element should contain all elents of first set

False

In [48]:
s1={1,2,3,4}
s2={3,4,5,6}
s1 <= s2

False

In [49]:
s1={3,4}
s2={3,4,5,6}
s1.issubset(s2)

True

In [51]:
s1={3,4}
s2={3,4,5,6}
s2.issubset(s1)

False

In [55]:
#supperset
s1={3,4}
s2={3,4,5,6}
s2.issuperset(s1) #first set should contain the all ements of s1

True

In [56]:
s1={3,4}
s2={3,4,5,6}
s2>=s1

True

In [57]:
s1={3,4}
s2={3,4,5,6}
s2<=s1

False

In [59]:
s1={3,4,5,6}
s2={3,4,5,6}
s1.issubset(s2)

True

In [60]:
s1={3,4,5,6}
s2={3,4,5,6}
s1.issuperset(s2)

True

In [61]:
#disjoint
s1={1,2}
s2={3,4,5,6}
s1.isdisjoint(s2) #same element in first set shouldn't be there in second set

True

In [62]:
#disjoint
s1={1,2,3}
s2={3,4,5,6}
s1.isdisjoint(s2)

False