In [6]:
#palindrome
a="123"
b="321"
c=""
for i in b:
    c=i+c
if(c==a):
    print(a, "is palindrome of",b)

123 is palindrome of 321

In [8]:
#Factorial
def factorial(n):
    if(n==1):
        fact=1
    if(n>1):
        fact=n*factorial(n-1)
    return fact

n=3
fact=1
output=factorial(n)
print(output)

6

In [12]:
#armstrong number
N=int(input())
l=len(str(N))
sum=0
for i in str(N):
    sum=int(i)**l+sum
if(sum==N):
    print(N, "is armstrong number")
else:
    print(N, "is not a armstrong number")

153 is armstrong number

In [16]:
#random number
import random
rand=random.randint(1,100)
print("the random number is",rand)

the random number is 23

In [17]:
#ascii values

print("ASCII values for uppercase letters:")
for char in range(65, 91):
    print(f"{chr(char)}: {char}")

# Print ASCII values for lowercase letters
print("\nASCII values for lowercase letters:")
for char in range(97, 123):
    print(f"{chr(char)}: {char}")

# Print ASCII values for digits
print("\nASCII values for digits:")
for char in range(48, 58):
    print(f"{chr(char)}: {char}")

ASCII values for uppercase letters:
A: 65
B: 66
C: 67
D: 68
E: 69
F: 70
G: 71
H: 72
I: 73
J: 74
K: 75
L: 76
M: 77
N: 78
O: 79
P: 80
Q: 81
R: 82
S: 83
T: 84
U: 85
V: 86
W: 87
X: 88
Y: 89
Z: 90

ASCII values for lowercase letters:
a: 97
b: 98
c: 99
d: 100
e: 101
f: 102
g: 103
h: 104
i: 105
j: 106
k: 107
l: 108
m: 109
n: 110
o: 111
p: 112
q: 113
r: 114
s: 115
t: 116
u: 117
v: 118
w: 119
x: 120
y: 121
z: 122

ASCII values for digits:
0: 48
1: 49
2: 50
3: 51
4: 52
5: 53
6: 54
7: 55
8: 56
9: 57

In [19]:
num1=87
str=chr(num1)
print(ord(str))

87

In [2]:
#swap
a=10
b=11
c=a
a=b
b=c

print(a)
print(b)

11
10

In [3]:
F=int(input())
C=(9/5)*(F-32)
print(C)

36.0

In [6]:
#buzz number
N=int(input())
cond1=N%7==0
l=len(str(N))
cond2=N%((l-1)*10)
if(cond1 or cond2):
    print("Buzz number")
else:
    print("Not a buzz number")

Buzz number

In [9]:
#largest of three
n1=16
n2=11
n3=13
if(n1>n2 and n1>n3):
    print(n1,"is greatest")
    if(n2>n3):
        print(n2,"is second greatest")
    else:
        print(n3,"is second greatest")
elif(n2>n3):
    print(n2,"is greatest")
    if(n1>n3):
        print(n1,"is second greatest")
    else:
        print(n3,"is second greatest")
else:
    print(n3,"is greatest")
    if(n2>n1):
        print(n2,"is second greatest")
    else:
        print(n1,"is second greatest")

16 is greatest
13 is second greatest

In [12]:
#leap year
#divisible by 4 but not 100 but divisible by 400
def leap_year(N):
    if((N%4==0 and N%100!=0) or N%400==0):
        print("Leap year")
    else:
        print("Not a leap year")

N=int(input())
leap_year(N)

Not a leap year

In [13]:
a=[1,2,3,4,5]
print(5 in a)

True

In [15]:
#harshad number
N=27
s=str(N)
sum=0
for i in s:
    sum=sum+int(i)
if(N%sum==0):
    print(N,"is harshad number")
else:
    print(N,"is not harshad number")

27 is harshad number

In [17]:
N=15

for i in range(2,N):
    count=0
    
    for j in range(2,i):
        if(i%j==0):
            count+=1
    if(count==0):
        print(i)

2
3
5
7
11
13

In [19]:
#vowels
name="Mounika"
vowels=['a','e','i','o','u']
name1=name.lower()
vo=[]
co=[]
for i in name1:
    if(i in vowels):
        vo.append(i)
    else:
        co.append(i)
print(vo,co)

['o', 'u', 'i', 'a'] ['m', 'n', 'k']

In [ ]:
a=[1,2,3,4,5]