In [2]:
n=int(input("Enter a number"))
print("*" *n)

Enter a number 5

*****

In [1]:
N=int(input("Enter a Number:"))
for i in range(N):
    print("A " *N)

Enter a Number: 3

A A A
A A A
A A A

In [2]:
N=int(input("Enter a Number:"))
for i in range(N):
    print("* " *N)

Enter a Number: 5

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [3]:
N=int(input("Enter a Number:"))
for i in range(N):
    print(str(N) *N)

Enter a Number: 5

55555
55555
55555
55555
55555

In [4]:
N=int(input("Enter a Number:"))
for i in range(N):
    print(str(N) *N)

Enter a Number: 7

7777777
7777777
7777777
7777777
7777777
7777777
7777777

In [6]:
N=int(input("Enter a Number:"))
for i in range(1,N+1):
    print(str(i) *N)

Enter a Number: 4

1111
2222
3333
4444

In [7]:
N=int(input("Enter a Number:"))
for i in range(N):
    print(str(N-i) *N)

Enter a Number: 5

55555
44444
33333
22222
11111

In [8]:
N=int(input("Enter a Number:"))
for i in range(1,N+1):
    print("* " *i)

Enter a Number: 4

*
* *
* * *
* * * *

In [9]:
N=int(input("Enter a Number:"))
for i in range(1,N+1):
    print("A " *i)

Enter a Number: 4

A
A A
A A A
A A A A

In [10]:
N=int(input("Enter a Number:"))
for i in range(N):
    print("* " *(N-i))

Enter a Number: 5

* * * * *
* * * *
* * *
* *
*

In [11]:
A=['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','U','V','W','X','Y','Z']
N=int(input("Enter a number"))
for i in range(N):
    print((A[i]+" ")*(i+1))

Enter a number 5

A
B B
C C C
D D D D
E E E E E

In [12]:
A=['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','U','V','W','X','Y','Z']
N=int(input("Enter a number"))
for i in range(N):
    print((A[i]+" ")*(i+1))

Enter a number 25

A
B B
C C C
D D D D
E E E E E
F F F F F F
G G G G G G G
H H H H H H H H
I I I I I I I I I
J J J J J J J J J J
K K K K K K K K K K K
L L L L L L L L L L L L
M M M M M M M M M M M M M
N N N N N N N N N N N N N N
O O O O O O O O O O O O O O O
P P P P P P P P P P P P P P P P
Q Q Q Q Q Q Q Q Q Q Q Q Q Q Q Q Q
R R R R R R R R R R R R R R R R R R
S S S S S S S S S S S S S S S S S S S
T T T T T T T T T T T T T T T T T T T T
U U U U U U U U U U U U U U U U U U U U U
U U U U U U U U U U U U U U U U U U U U U U
V V V V V V V V V V V V V V V V V V V V V V V
W W W W W W W W W W W W W W W W W W W W W W W W
X X X X X X X X X X X X X X X X X X X X X X X X X

In [13]:
N=int(input("Enter a number"))
for i in range(1,N+1):
    print((str(i)+" ") *i)

Enter a number 4

1
2 2
3 3 3
4 4 4 4

In [14]:
N=int(input("enter a Number"))
for i in range(1,N+1):
    if(i==1):
        print("1")
    else:
        row=""
        for j in range(1,i+1):
            row=row + str(j)+" "
        print(row)

enter a Number 4

1
1 2
1 2 3
1 2 3 4

In [16]:
A=['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','U','V','W','X','Y','Z']
N=int(input())
for i in range(N):
    if(i==0):
        print("A")
    else:
        val=''
        for j in range(0,i+1):
            val = val+ A[j] +" "
        print(val)

 5

A
A B
A B C
A B C D
A B C D E

In [24]:
N=int(input("Enter a number"))
for i in range(N):
    if(i==N-1):
        print(1)
    else:
        val=""
        for j in range(1,N-i+1):
            val=val+ str(j) +" "
        print(val)

Enter a number 4

1 2 3 4
1 2 3
1 2
1

In [27]:
N=int(input("Enter a number"))
for i in range(N):
    if(i==N-1):
        print(0)
    else:
        val=""
        for j in range(N-i):
            val=val+ str(j) +" "
        print(val)

Enter a number 5

0 1 2 3 4
0 1 2 3
0 1 2
0 1
0

In [29]:
N=int(input("Enter a Number"))
for i in range(N):
    if(i==0 or i==N-1):
        print("* " *N)
    else:
        print("* " + "  "*(N-2) +"*")

Enter a Number 6

* * * * * *
*         *
*         *
*         *
*         *
* * * * * *

In [30]:
A=['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','U','V','W','X','Y','Z']
N=int(input("Enter a number"))
for i in range(N):
    if(i==N-1):
        print("A")
    else:
        val=""
        for j in range(0,N-i):
            val=val+ A[j] +" "
        print(val)

Enter a number 5

A B C D E
A B C D
A B C
A B
A

In [35]:
N=int(input("Enter a number"))
for i in range(N):
    if(i==N-1):
        print(N)
    else:
        val=""
        for j in range(i+1,N+1):
            val= str(j) +" "+val
        print(val)

Enter a number 5

5 4 3 2 1
5 4 3 2
5 4 3
5 4
5

In [38]:
L=['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','U','V','W','X','Y','Z']
N=int(input("Enter a number"))
for i in range(N):
    if(i==N-1):
        print(L[N-1])
    else:
        val=""
        for j in range(i,N):
            val= L[j] +" "+val
        print(val)

Enter a number 4

D C B A
D C B
D C
D

In [40]:
S="Python"
l=len(S)
for i in range(l):
    print(S[:i+1])

P
Py
Pyt
Pyth
Pytho
Python

In [2]:
L=['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','U','V','W','X','Y','Z']
N=int(input("Enter a number:"))
count=1
for i in range(N):
    if(i==0):
        print("A")
    else:
        val=""
        for j in range(0,i+1):
            val=val+ L[count]+" "
            count=count+1
        print(val)

Enter a number: 4

A
B C
D E F
G H I J

In [4]:
L=['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','U','V','W','X','Y','Z']
N=int(input("Enter a number:"))
count=0
for i in range(N):
    val=""
    for j in range(0,i+1):
        val=val+ L[count]+" "
        count=count+1
    print(val)

Enter a number: 4

A
B C
D E F
G H I J

In [5]:
N=int(input("Enter a number:"))
count=1
for i in range(N):
    val=""
    for j in range(0,i+1):
        val=val+ str(count)+" "
        count=count+1
    print(val)

Enter a number: 5

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [17]:
N=int(input("enter the number"))
for i in range(N):
    count=i+1
    val=str(i+1)+" "
    for j in range(1,i+1):
        val=val+str(count+N-1)+" "
        count=count+N-j-1
    print(val)

enter the number 6

1
2 7
3 8 12
4 9 13 16
5 10 14 17 19
6 11 15 18 20 21

In [21]:
L=['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','U','V','W','X','Y','Z']
N=int(input("enter the number"))
for i in range(N):
    count=i
    val=L[count]+" "
    for j in range(1,i+1):
        val=val+L[count+N-1]+" "
        count=count+N-j-1
    print(val)

enter the number 6

A
B G
C H L
D I M P
E J N Q S
F K O R T U

In [36]:
N=int(input("enter the number"))
for i in range(N):
    count=i+1
    val=str(i+1)+" "
    for j in range(1,i+1):
        val=val+str(count+2*N-2*i-1)+" "
        count=count+(2*i-2)
    print(val)

enter the number 5

1
2 9
3 8 10
4 7 11 15
5 6 12 18 24